<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{add}" method="post">
        <table align="center">
            <tr>
                  <td colspan="2">添加</td>
            </tr>
            <tr>
                <td>username</td>
                <td>
                    <input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>password</td>
                <td>
                    <input  type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input  type="submit" value="确定"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>