<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:height="200" align="center">电影简介</div>
<br/>
<table border="1" width="100%">
    <tr  align="center">
        <td height="35">id</td>
        <td>电影名称</td>
        <td>发行单位</td>
        <td>时长(分)</td>
        <td>放映时间</td>

    </tr>

    <tr th:each="timemovie:${timeMovieList} " align="center">
        <td th:text="${timemovie.movieid}" ></td>
        <td th:text="${timemovie.moviename}" > </td>
        <td th:text="${timemovie.moviesource}" > </td>
        <td th:text="${timemovie.movietime}" > </td>
        <td th:text="${timemovie.showtime}" > </td>

    </tr>

</table>
</body>
</html>